/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  .modal {
    position: absolute;
    top: 20%;
    left: 159px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

/* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }

  .logo {
    position: absolute;
    left: 15px;
  }

/*モーダル表示*/
  .modal {
    position: absolute;
    top: 20%;
    left: 0;
    background-color: #e6ecf0;
    padding: 20px 0 40px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  
  #signup-form {
    width: 100%;
  }
  
  #signup-form h2 {
    color: #5f5d60;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  
  #signup-form input {
    width: 250px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 12px 12px;
    border: 1px solid #d0d5d8;
    border-radius: 5px;
  }
  
  .submit-btn {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 0px;
    width: 280px;
    background-color: #5dca88;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px auto;
    cursor: pointer;
  }

  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }
}
